<div class="sub-header-wrapper">
    <div class="sub-header fn-clear">
        <%= title %>
    </div>
</div>

<div class="ui-layout-c12 fn-clear photo-list">
    <% for(var i = 0; i < photos.length; i++) { %>
    <div id="photp-<%= photos[i]._id %>" class="ui-layout-g3 photo-item-wrapper">
        <div class="photo-item">
            <div class="photo-thumb">
                <a href="/p/<%= photos[i]._id %>">
                    <img src="<%= photos[i].src.small %>" alt="<%= photos[i].title %>" height="200" width="200" />
                </a>
                <a class="photo-details" href="/p/<%= photos[i]._id %>" title="<%= photos[i].title %>">
                    <strong class="photo-title">
                        <%= photos[i].title %>
                    </strong>
                    <span class="photo-desc">
                        <%= photos[i].desc ? photos[i].desc : photos[i].title %>
                    </span>
                    <span class="photo-date">
                        <%= photos[i].create_time.toLocaleDateString() %>
                    </span>
                </a>
            </div>
        </div>
        <div class="photo-action fn-clear">
            <a class="photo-comment" href="#" data-toggle="tooltip" title="添加一条评论">comment</a>
            <a class="photo-like" href="#" data-toggle="tooltip" title="喜欢该图片">like</a>
        </div>
    </div>
    <% } %>
</div>
<% if( locals.pagination && locals.base_url ) { %>
<% var base_url = base_url + ( base_url.indexOf('?') < 0 ? '?' : '&' ) + 'page='; %>
<div class="pagination">
    <% if( pagination.isprevious ) { %>
        <a href="<%= base_url + pagination.previous %>" class="pagination-item">上一页</a>
    <% } %>
    <% if( pagination.isnext ) { %>
        <a href="<%= base_url + pagination.next %>" class="pagination-item">下一页</a>
    <% } %>
</div>
<% } %>