<div class="sub-header-wrapper">
    <div class="sub-header fn-clear">
        <%= title %>
    </div>
</div>

<div class="ui-layout-c12 fn-clear photo-list">
    <% for(var i = 0; i < photos.length; i++) { %>
    <div id="photp-<%= photos[i]._id %>" class="ui-layout-g3 photo-item-wrapper">
        <div class="photo-item">
            <div class="photo-thumb">
                <a href="/p/<%= photos[i]._id %>">
                    <img src="<%= photos[i].src.small %>" alt="<%= photos[i].title %>" height="200" width="200" />
                </a>
                <a class="photo-details" href="/p/<%= photos[i]._id %>" title="<%= photos[i].title %>">
                    <strong class="photo-title">
                        <%= photos[i].title %>
                    </strong>
                    <span class="photo-desc">
                        <%= photos[i].desc ? photos[i].desc : photos[i].title %>
                    </span>
                    <span class="photo-date">
                        <%= photos[i].formated_create_time %>
                    </span>
                </a>
            </div>
        </div>
        <div class="photo-action fn-clear">
            <a class="photo-author photo-action-item" href="/photos/<%= photos[i].author.username %>" data-toggle="tooltip" title="查看 <%= photos[i].author.username %> 的所有相片">
                <img class="photo-avatar" src="<%= photos[i].author.avatar %>?s=16" alt="<%= photos[i].author.username %>" />
                <%= photos[i].author.username %>
            </a>
            <!-- <a class="photo-comment photo-action-item" href="#" data-toggle="tooltip" title="添加一条评论"></a> -->
            <a class="photo-like photo-action-item" href="#" data-toggle="tooltip" title="喜欢该图片">+1</a>
        </div>
    </div>
    <% } %>
</div>
<% if( locals.pagination && locals.base_url ) { %>
<% var base_url = base_url + ( base_url.indexOf('?') < 0 ? '?' : '&' ) + 'page='; %>
<div class="pagination">
    <% if( pagination.isprevious ) { %>
        <a href="<%= base_url + pagination.previous %>" class="pagination-item pagination-prev">&laquo; 上一页</a>
    <% } %>
    <% if( pagination.isnext ) { %>
        <a href="<%= base_url + pagination.next %>" class="pagination-item pagination-next">下一页 &raquo;</a>
    <% } %>
    <div class="pagination-analy">
        当前第 <%= pagination.page %> 页 &middot; 共 <%= pagination.lastpage %> 页 &middot; 当前显示 <%= photos.length %> 条 &middot; 总共 <%= pagination.total %> 条内容
    </div>
</div>
<% } %>